@import "the-modal.css";
/* modal box style, can be anything you want */
.conteiner-fluid{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.conteiner{
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
}
.btn{
    padding: 20px;
    border-radius: 10px;
}
.btn:hover{
    color:white;
}
.modal {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}

.modal .close {
    float: right;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: Georgia sans-serif;
    width: 100%;
}

li {
    margin-bottom: 1em;
}